@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import "../../../Mixins/Mixin";
@import "../../../Parameters/Parameters";


.gallery-bgd {
    position: relative;
    display: flex;
    @media all and (min-width: 1342px) {
        justify-content: space-between;
    }
    @media all and (max-width: 1341px) {
        justify-content: center;
    }
    align-items: center;
    background-color: rgb(255, 255, 255, 0.6);
    overflow: hidden;
}

.gallery-bdg-appearence {
    position: absolute;
    top: 124px+10*$FrameHeight;
    right: 0%;
    width: 100%;
    height: 560px;
    animation-name: galleryBdgAppearence;
    animation-duration: 2000ms;
}

@keyframes galleryBdgAppearence {
    0% {
        position: absolute;
        top: 214px+10*$FrameHeight;
        right: 5%;
        width: 55%;
        height: 400px;
    }

    30% {
        position: absolute;
        top: 124px+10*$FrameHeight;
        right: 0%;
        width: 55%;
        height: 400px;
    }

    100% {
        position: absolute;
        top: 124px+10*$FrameHeight;
        right: 0%;
        width: 100%;
        height: 560px;
    }
}

.gallery-main-photo {
    margin-top: none;
    margin-left: none;
    width: none;

    @media all and (min-width: 992px) {
        height: 520px;
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        height: 500px;
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        height: 400px;
    }
    @media all and (max-width: 440px) {
        height: 320px;
    }
}

.animation-main-photo-opening {
    @media all and (min-width: 992px) {
        animation-name: mainPhotoDesktopOpenning;
        animation-duration: 2000ms;
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        animation-name: mainPhotoIpadOpenning;
        animation-duration: 2000ms;
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        animation-name: mainPhotoFirstMobileOpenning;
        animation-duration: 2000ms;
    }
    @media all and (max-width: 440px) {
        animation-name: mainPhotoSecondMobileOpenning;
        animation-duration: 2000ms;
    }
}

@keyframes mainPhotoDesktopOpenning {
    0% {
        margin-top: 180px;
        margin-left: 105px;
        width: none;
        height: 520px;
    }

    30% {
        margin-top: none;
        margin-left: none;
        width: auto;
        height: 520px;
    }

    90% {
        margin-top: none;
        margin-left: none;
        width: auto;
        height: 520px;
    }

    100% {
        margin-top: none;
        margin-left: none;
        width: auto;
        height: 520px;
    }
}

@keyframes mainPhotoIpadOpenning {
    0% {
        margin-top: 180px;
        margin-left: 105px;
        width: none;
        height: 500px;
    }

    30% {
        margin-top: none;
        margin-left: none;
        width: auto;
        height: 500px;
    }

    90% {
        margin-top: none;
        margin-left: none;
        width: auto;
        height: 500px;
    }

    100% {
        margin-top: none;
        margin-left: none;
        width: auto;
        height: 500px;
    }
}

@keyframes mainPhotoFirstMobileOpenning {
    0% {
        margin-top: 180px;
        margin-left: 105px;
        width: none;
        height: 400px;
    }

    30% {
        margin-top: none;
        margin-left: none;
        width: auto;
        height: 400px;
    }

    90% {
        margin-top: none;
        margin-left: none;
        width: auto;
        height: 400px;
    }

    100% {
        margin-top: none;
        margin-left: none;
        width: auto;
        height: 400px;
    }
}

@keyframes mainPhotoSecondMobileOpenning {
    0% {
        margin-top: 180px;
        margin-left: 105px;
        width: none;
        height: 320px;
    }

    30% {
        margin-top: none;
        margin-left: none;
        width: auto;
        height: 320px;
    }

    90% {
        margin-top: none;
        margin-left: none;
        width: auto;
        height: 320px;
    }

    100% {
        margin-top: none;
        margin-left: none;
        width: auto;
        height: 320px;
    }
}

.gallery-main-photo-openning {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
    @media all and (min-width: 992px) {
        width: 50%;
        height: 520px;
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        width: 85%;
        height: 500px;
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        width: 90%;
        height: 400px;
    }
    @media all and (max-width: 440px) {
        width: 95%;
        height: 320px;
    }
}

.animation-gallery-opening {
    overflow: hidden;
    @media all and (min-width: 992px) {
        animation-name: galleryOpenningDesktop;
        animation-duration: 2000ms;
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        animation-name: galleryOpenningIPad;
        animation-duration: 2000ms;
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        animation-name: galleryOpenningFirstMobile;
        animation-duration: 2000ms;
    }
    @media all and (max-width: 440px) {
        animation-name: galleryOpenningSecondMobile;
        animation-duration: 2000ms;
    }
}

@keyframes galleryOpenningDesktop {
    0% {
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }

    30% {
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }

    100% {
        border-radius: 0%;
        width: 50%;
        height: 520px;
    }
}

@keyframes galleryOpenningIPad {
    0% {
        border-radius: 50%;
        width: 160px;
        height: 160px;
    }

    30% {
        border-radius: 50%;
        width: 160px;
        height: 160px;
    }

    100% {
        border-radius: 0%;
        width: 85%;
        height: 500px;
    }
}

@keyframes galleryOpenningFirstMobile {
    0% {
        border-radius: 50%;
        width: 120px;
        height: 120px;
    }

    30% {
        border-radius: 50%;
        width: 120px;
        height: 120px;
    }

    100% {
        border-radius: 0%;
        width: 90%;
        height: 400px;
    }
}

@keyframes galleryOpenningSecondMobile {
    0% {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }

    30% {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }

    100% {
        border-radius: 0%;
        width: 95%;
        height: 320px;
    }
}

.close-btn {
    @media all and (min-width: 992px) {
        @include position-package(absolute, 0px, none, none, 0px);
        @include dimensions(105px, 105px);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include position-package(absolute, 10px, none, none, 50px);
        @include dimensions(75px, 75px);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include position-package(absolute, 10px, none, none, 50px);
        @include dimensions(65px, 65px);
    }
    @media all and (max-width: 440px) {
        @include position-package(absolute, 10px, none, none, 10px);
        @include dimensions(55px, 55px);
    }
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    opacity: 1;
    animation-name: closeBtnOpenning;
    animation-duration: 2000ms;
    animation-delay: 500ms;
    animation-fill-mode: backwards;
}

.close-symbole {
    @media all and (min-width: 992px) {
        @include syntaxe-bellefair(104px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-bellefair(74px, normal);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include syntaxe-bellefair(64px, normal);
    }
    @media all and (max-width: 440px) {
        @include syntaxe-bellefair(54px, normal);
    }
    color: #141929;
    transition: all 200ms;
    &:hover {
        transform: scale(1.1);
    }
}

@keyframes closeBtnOpenning {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*arrow buttons*/

/*992 991*/

.desktop-prev-btn {
    @media all and (min-width: 1342px) {
        display: flex;
    }
    @media all and (max-width: 1341px) {
        display: none;
    }
    z-index: 2;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: none;
    @include dimensions(25%, 560px);
    border: none;
}

.buttons-container {
    position: absolute;
    background-color: rgb(255, 255, 255, 0.5);
    justify-content: space-between;
    align-items: center;
    @media all and (min-width: 1342px) {
        display: none;
    }
    @media all and (min-width: 992px) and (max-width: 1341px) {
        display: flex;
        top: 380px;
        right: 40%;
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        display: flex;
        top: 410px;
        right: 45%;
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        display: flex;
        top: 320px;
        right: 40%;
    }
    @media all and (max-width: 440px) {
        display: flex;
        top: 255px;
        right: 32%;
    }
}

.prev-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: all 200ms;
    &:hover {
        transform: scale(1.1);
    }
}

.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: #141929;
    @media all and (min-width: 992px) {
        @include syntaxe-bellefair(104px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-bellefair(74px, normal);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include syntaxe-bellefair(64px, normal);
    }
    @media all and (max-width: 440px) {
        @include syntaxe-bellefair(54px, normal);
    }
}

.arrow-left-openning {
    animation-name: arrowLeftOpenning;
    animation-duration: 2000ms;
    animation-fill-mode: backwards;
    animation-delay: 1s;
}

@keyframes arrowLeftOpenning {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.desktop-next-btn {
    @media all and (min-width: 1342px) {
        display: flex;
    }
    @media all and (max-width: 1341px) {
        display: none;
    }
    z-index: 2;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: none;
    @include dimensions(25%, 560px);
    border: none;
}

.next-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: all 200ms;
    &:hover {
        transform: scale(1.1);
    }
}

.arrow-right-openning {
    animation-name: arrowRightOpenning;
    animation-duration: 2000ms;
    animation-fill-mode: backwards;
    animation-delay: 1s;
}

@keyframes arrowRightOpenning {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

/*--------------------------------------------*/

.gallery-prev-photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    width: 205px;
    height: none;
}

.gallery-prev-photo {
    width: 215px;
    height: none;
}

.gallery-next-photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    width: 205px;
    height: none;
}

.gallery-next-photo {
    width: 215px;
    height: none;
}

.animation-next-main-photo {
    animation-name: animationNextMainPhoto;
    animation-duration: 2000ms;
    animation-fill-mode: backwards;
}

@keyframes animationNextMainPhoto {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}


/*animation arrow left*/
$duration: 500ms;
.prev-photo-animation-left {
    animation-name: prevPhotoAnimationLeft;
    animation-duration: $duration;
    animation-fill-mode: backwards;
}

@keyframes prevPhotoAnimationLeft {
    from {
        transform: translate(100%, -100px)scale(0.5);
        opacity: 0;
    }

    to {
        transform: translate(0px, 0px)scale(1);
        opacity: 1;
    }
}

.next-photo-animation-left {
    animation-name: nextPhotoAnimationLeft;
    animation-duration: $duration;
    animation-fill-mode: backwards;
}

@keyframes nextPhotoAnimationLeft {
    from {
        transform: translate(-210%, 40px)scale(2);
    }

    to {
        transform: translate(0px, 0px)scale(1);
    }
}

.main-photo-animation-left {
    @media all and (min-width: 1342px) {
        animation-name: DeskTopMainPhotoAnimationLeft;
    }
    @media all and (max-width: 1341px) {
        animation-name: IpadMobileMainPhotoAnimationLeft;
    }
    animation-duration: $duration;
    animation-fill-mode: backwards;
}

@keyframes DeskTopMainPhotoAnimationLeft {
    from {
        transform: translate(-125%, -40px)scale(0.5);
    }

    to {
        transform: translate(0px, 0px)scale(1);
    }
}

@keyframes IpadMobileMainPhotoAnimationLeft {
    from {
        transform: translateX(-125%);
    }

    to {
        transform: translateX(0px);
    }
}

/*animation arrow right*/

.prev-photo-animation-right {
    @media all and (min-width: 1342px) {
        animation-name: DeskTopPrevPhotoAnimationRight;
    }
    @media all and (max-width: 1341px) {
        animation-name: IpadMobilePrevPhotoAnimationRight;
    }
    animation-duration: $duration;
    animation-fill-mode: backwards;
}

@keyframes DeskTopPrevPhotoAnimationRight {
    from {
        transform: translate(210%, -40px)scale(2);
    }

    to {
        transform: translate(0px, 0px)scale(1);
    }
}

@keyframes IpadMobilePrevPhotoAnimationRight {
    from {
        transform: translateX(210%);
    }

    to {
        transform: translateX(0px);
    }
}

.next-photo-animation-right {
    animation-name: nextPhotoAnimationRight;
    animation-duration: $duration;
    animation-fill-mode: backwards;
}

@keyframes nextPhotoAnimationRight {
    from {
        transform: translate(-100%, 100px)scale(0.5);
        opacity: 0;
    }

    to {
        transform: translate(0px, 0px)scale(1);
        opacity: 1;
    }
}

.main-photo-animation-right {
    @media all and (min-width: 1342px) {
        animation-name: DeskTopMainPhotoAnimationRight;
    }
    @media all and (max-width: 1341px) {
        animation-name: IpadMobileMainPhotoAnimationRight;
    }
    animation-duration: $duration;
    animation-fill-mode: backwards;
}

@keyframes DeskTopMainPhotoAnimationRight {
    from {
        transform: translate(125%, 40px)scale(0.5);
    }

    to {
        transform: translate(0px, 0px)scale(1);
    }
}

@keyframes IpadMobileMainPhotoAnimationRight {
    from {
        transform: translateX(125%);
    }

    to {
        transform: translateX(0px);
    }
}

.main-photo-neighbor {
    display: none;
    opacity: 0;
    width: none;

    @media all and (min-width: 992px) {
        height: 520px;
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        height: 500px;
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        height: 400px;
    }
    @media all and (max-width: 440px) {
        height: 320px;
    }
}

.main-photo-neighbor-animation-left {
    @media all and (max-width: 1341px) {
        animation-name: mainPhotoNeighborAnimationLeft;
    }
    animation-duration: $duration;
    animation-fill-mode: backwards;
    display: block;
    position: absolute;
}

@keyframes mainPhotoNeighborAnimationLeft {
    from {
        left: 25%;
        opacity: 1;
    }

    to {
        left: -100%;
        opacity: 0;
    }
}

.main-photo-neighbor-animation-right {
    @media all and (max-width: 1341px) {
        animation-name: mainPhotoNeighborAnimationRight;
    }
    animation-duration: $duration;
    animation-fill-mode: backwards;
    display: block;
    position: absolute;
}

@keyframes mainPhotoNeighborAnimationRight {
    from {
        right: 25%;
        opacity: 1;
    }

    to {
        right: -100%;
        opacity: 0;
    }
}