@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
.gallery-bgd {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
}
@media all and (min-width: 1342px) {
  .gallery-bgd {
    justify-content: space-between;
  }
}
@media all and (max-width: 1341px) {
  .gallery-bgd {
    justify-content: center;
  }
}

.gallery-bdg-appearence {
  position: absolute;
  top: 7264px;
  right: 0%;
  width: 100%;
  height: 560px;
  animation-name: galleryBdgAppearence;
  animation-duration: 2000ms;
}

@keyframes galleryBdgAppearence {
  0% {
    position: absolute;
    top: 7354px;
    right: 5%;
    width: 55%;
    height: 400px;
  }
  30% {
    position: absolute;
    top: 7264px;
    right: 0%;
    width: 55%;
    height: 400px;
  }
  100% {
    position: absolute;
    top: 7264px;
    right: 0%;
    width: 100%;
    height: 560px;
  }
}
.gallery-main-photo {
  margin-top: none;
  margin-left: none;
  width: none;
}
@media all and (min-width: 992px) {
  .gallery-main-photo {
    height: 520px;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .gallery-main-photo {
    height: 500px;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .gallery-main-photo {
    height: 400px;
  }
}
@media all and (max-width: 440px) {
  .gallery-main-photo {
    height: 320px;
  }
}

@media all and (min-width: 992px) {
  .animation-main-photo-opening {
    animation-name: mainPhotoDesktopOpenning;
    animation-duration: 2000ms;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .animation-main-photo-opening {
    animation-name: mainPhotoIpadOpenning;
    animation-duration: 2000ms;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .animation-main-photo-opening {
    animation-name: mainPhotoFirstMobileOpenning;
    animation-duration: 2000ms;
  }
}
@media all and (max-width: 440px) {
  .animation-main-photo-opening {
    animation-name: mainPhotoSecondMobileOpenning;
    animation-duration: 2000ms;
  }
}

@keyframes mainPhotoDesktopOpenning {
  0% {
    margin-top: 180px;
    margin-left: 105px;
    width: none;
    height: 520px;
  }
  30% {
    margin-top: none;
    margin-left: none;
    width: auto;
    height: 520px;
  }
  90% {
    margin-top: none;
    margin-left: none;
    width: auto;
    height: 520px;
  }
  100% {
    margin-top: none;
    margin-left: none;
    width: auto;
    height: 520px;
  }
}
@keyframes mainPhotoIpadOpenning {
  0% {
    margin-top: 180px;
    margin-left: 105px;
    width: none;
    height: 500px;
  }
  30% {
    margin-top: none;
    margin-left: none;
    width: auto;
    height: 500px;
  }
  90% {
    margin-top: none;
    margin-left: none;
    width: auto;
    height: 500px;
  }
  100% {
    margin-top: none;
    margin-left: none;
    width: auto;
    height: 500px;
  }
}
@keyframes mainPhotoFirstMobileOpenning {
  0% {
    margin-top: 180px;
    margin-left: 105px;
    width: none;
    height: 400px;
  }
  30% {
    margin-top: none;
    margin-left: none;
    width: auto;
    height: 400px;
  }
  90% {
    margin-top: none;
    margin-left: none;
    width: auto;
    height: 400px;
  }
  100% {
    margin-top: none;
    margin-left: none;
    width: auto;
    height: 400px;
  }
}
@keyframes mainPhotoSecondMobileOpenning {
  0% {
    margin-top: 180px;
    margin-left: 105px;
    width: none;
    height: 320px;
  }
  30% {
    margin-top: none;
    margin-left: none;
    width: auto;
    height: 320px;
  }
  90% {
    margin-top: none;
    margin-left: none;
    width: auto;
    height: 320px;
  }
  100% {
    margin-top: none;
    margin-left: none;
    width: auto;
    height: 320px;
  }
}
.gallery-main-photo-openning {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0%;
}
@media all and (min-width: 992px) {
  .gallery-main-photo-openning {
    width: 50%;
    height: 520px;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .gallery-main-photo-openning {
    width: 85%;
    height: 500px;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .gallery-main-photo-openning {
    width: 90%;
    height: 400px;
  }
}
@media all and (max-width: 440px) {
  .gallery-main-photo-openning {
    width: 95%;
    height: 320px;
  }
}

.animation-gallery-opening {
  overflow: hidden;
}
@media all and (min-width: 992px) {
  .animation-gallery-opening {
    animation-name: galleryOpenningDesktop;
    animation-duration: 2000ms;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .animation-gallery-opening {
    animation-name: galleryOpenningIPad;
    animation-duration: 2000ms;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .animation-gallery-opening {
    animation-name: galleryOpenningFirstMobile;
    animation-duration: 2000ms;
  }
}
@media all and (max-width: 440px) {
  .animation-gallery-opening {
    animation-name: galleryOpenningSecondMobile;
    animation-duration: 2000ms;
  }
}

@keyframes galleryOpenningDesktop {
  0% {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  30% {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  100% {
    border-radius: 0%;
    width: 50%;
    height: 520px;
  }
}
@keyframes galleryOpenningIPad {
  0% {
    border-radius: 50%;
    width: 160px;
    height: 160px;
  }
  30% {
    border-radius: 50%;
    width: 160px;
    height: 160px;
  }
  100% {
    border-radius: 0%;
    width: 85%;
    height: 500px;
  }
}
@keyframes galleryOpenningFirstMobile {
  0% {
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }
  30% {
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }
  100% {
    border-radius: 0%;
    width: 90%;
    height: 400px;
  }
}
@keyframes galleryOpenningSecondMobile {
  0% {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  30% {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  100% {
    border-radius: 0%;
    width: 95%;
    height: 320px;
  }
}
.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  opacity: 1;
  animation-name: closeBtnOpenning;
  animation-duration: 2000ms;
  animation-delay: 500ms;
  animation-fill-mode: backwards;
}
@media all and (min-width: 992px) {
  .close-btn {
    position: absolute;
    top: 0px !important;
    bottom: none !important;
    left: none !important;
    right: 0px !important;
    width: 105px;
    height: 105px !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .close-btn {
    position: absolute;
    top: 10px !important;
    bottom: none !important;
    left: none !important;
    right: 50px !important;
    width: 75px;
    height: 75px !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .close-btn {
    position: absolute;
    top: 10px !important;
    bottom: none !important;
    left: none !important;
    right: 50px !important;
    width: 65px;
    height: 65px !important;
  }
}
@media all and (max-width: 440px) {
  .close-btn {
    position: absolute;
    top: 10px !important;
    bottom: none !important;
    left: none !important;
    right: 10px !important;
    width: 55px;
    height: 55px !important;
  }
}

.close-symbole {
  color: #141929;
  transition: all 200ms;
}
@media all and (min-width: 992px) {
  .close-symbole {
    font-family: "Bellefair", serif;
    font-size: 104px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .close-symbole {
    font-family: "Bellefair", serif;
    font-size: 74px;
    font-weight: normal;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .close-symbole {
    font-family: "Bellefair", serif;
    font-size: 64px;
    font-weight: normal;
  }
}
@media all and (max-width: 440px) {
  .close-symbole {
    font-family: "Bellefair", serif;
    font-size: 54px;
    font-weight: normal;
  }
}
.close-symbole:hover {
  transform: scale(1.1);
}

@keyframes closeBtnOpenning {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*arrow buttons*/
/*992 991*/
.desktop-prev-btn {
  z-index: 2;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: none;
  width: 25%;
  height: 560px !important;
  border: none;
}
@media all and (min-width: 1342px) {
  .desktop-prev-btn {
    display: flex;
  }
}
@media all and (max-width: 1341px) {
  .desktop-prev-btn {
    display: none;
  }
}

.buttons-container {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  justify-content: space-between;
  align-items: center;
}
@media all and (min-width: 1342px) {
  .buttons-container {
    display: none;
  }
}
@media all and (min-width: 992px) and (max-width: 1341px) {
  .buttons-container {
    display: flex;
    top: 380px;
    right: 40%;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .buttons-container {
    display: flex;
    top: 410px;
    right: 45%;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .buttons-container {
    display: flex;
    top: 320px;
    right: 40%;
  }
}
@media all and (max-width: 440px) {
  .buttons-container {
    display: flex;
    top: 255px;
    right: 32%;
  }
}

.prev-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  transition: all 200ms;
}
.prev-btn:hover {
  transform: scale(1.1);
}

.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: #141929;
}
@media all and (min-width: 992px) {
  .arrows {
    font-family: "Bellefair", serif;
    font-size: 104px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .arrows {
    font-family: "Bellefair", serif;
    font-size: 74px;
    font-weight: normal;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .arrows {
    font-family: "Bellefair", serif;
    font-size: 64px;
    font-weight: normal;
  }
}
@media all and (max-width: 440px) {
  .arrows {
    font-family: "Bellefair", serif;
    font-size: 54px;
    font-weight: normal;
  }
}

.arrow-left-openning {
  animation-name: arrowLeftOpenning;
  animation-duration: 2000ms;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}

@keyframes arrowLeftOpenning {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
.desktop-next-btn {
  z-index: 2;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: none;
  width: 25%;
  height: 560px !important;
  border: none;
}
@media all and (min-width: 1342px) {
  .desktop-next-btn {
    display: flex;
  }
}
@media all and (max-width: 1341px) {
  .desktop-next-btn {
    display: none;
  }
}

.next-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  transition: all 200ms;
}
.next-btn:hover {
  transform: scale(1.1);
}

.arrow-right-openning {
  animation-name: arrowRightOpenning;
  animation-duration: 2000ms;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}

@keyframes arrowRightOpenning {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
/*--------------------------------------------*/
.gallery-prev-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 205px;
  height: none;
}

.gallery-prev-photo {
  width: 215px;
  height: none;
}

.gallery-next-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 205px;
  height: none;
}

.gallery-next-photo {
  width: 215px;
  height: none;
}

.animation-next-main-photo {
  animation-name: animationNextMainPhoto;
  animation-duration: 2000ms;
  animation-fill-mode: backwards;
}

@keyframes animationNextMainPhoto {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
/*animation arrow left*/
.prev-photo-animation-left {
  animation-name: prevPhotoAnimationLeft;
  animation-duration: 500ms;
  animation-fill-mode: backwards;
}

@keyframes prevPhotoAnimationLeft {
  from {
    transform: translate(100%, -100px) scale(0.5);
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px) scale(1);
    opacity: 1;
  }
}
.next-photo-animation-left {
  animation-name: nextPhotoAnimationLeft;
  animation-duration: 500ms;
  animation-fill-mode: backwards;
}

@keyframes nextPhotoAnimationLeft {
  from {
    transform: translate(-210%, 40px) scale(2);
  }
  to {
    transform: translate(0px, 0px) scale(1);
  }
}
.main-photo-animation-left {
  animation-duration: 500ms;
  animation-fill-mode: backwards;
}
@media all and (min-width: 1342px) {
  .main-photo-animation-left {
    animation-name: DeskTopMainPhotoAnimationLeft;
  }
}
@media all and (max-width: 1341px) {
  .main-photo-animation-left {
    animation-name: IpadMobileMainPhotoAnimationLeft;
  }
}

@keyframes DeskTopMainPhotoAnimationLeft {
  from {
    transform: translate(-125%, -40px) scale(0.5);
  }
  to {
    transform: translate(0px, 0px) scale(1);
  }
}
@keyframes IpadMobileMainPhotoAnimationLeft {
  from {
    transform: translateX(-125%);
  }
  to {
    transform: translateX(0px);
  }
}
/*animation arrow right*/
.prev-photo-animation-right {
  animation-duration: 500ms;
  animation-fill-mode: backwards;
}
@media all and (min-width: 1342px) {
  .prev-photo-animation-right {
    animation-name: DeskTopPrevPhotoAnimationRight;
  }
}
@media all and (max-width: 1341px) {
  .prev-photo-animation-right {
    animation-name: IpadMobilePrevPhotoAnimationRight;
  }
}

@keyframes DeskTopPrevPhotoAnimationRight {
  from {
    transform: translate(210%, -40px) scale(2);
  }
  to {
    transform: translate(0px, 0px) scale(1);
  }
}
@keyframes IpadMobilePrevPhotoAnimationRight {
  from {
    transform: translateX(210%);
  }
  to {
    transform: translateX(0px);
  }
}
.next-photo-animation-right {
  animation-name: nextPhotoAnimationRight;
  animation-duration: 500ms;
  animation-fill-mode: backwards;
}

@keyframes nextPhotoAnimationRight {
  from {
    transform: translate(-100%, 100px) scale(0.5);
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px) scale(1);
    opacity: 1;
  }
}
.main-photo-animation-right {
  animation-duration: 500ms;
  animation-fill-mode: backwards;
}
@media all and (min-width: 1342px) {
  .main-photo-animation-right {
    animation-name: DeskTopMainPhotoAnimationRight;
  }
}
@media all and (max-width: 1341px) {
  .main-photo-animation-right {
    animation-name: IpadMobileMainPhotoAnimationRight;
  }
}

@keyframes DeskTopMainPhotoAnimationRight {
  from {
    transform: translate(125%, 40px) scale(0.5);
  }
  to {
    transform: translate(0px, 0px) scale(1);
  }
}
@keyframes IpadMobileMainPhotoAnimationRight {
  from {
    transform: translateX(125%);
  }
  to {
    transform: translateX(0px);
  }
}
.main-photo-neighbor {
  display: none;
  opacity: 0;
  width: none;
}
@media all and (min-width: 992px) {
  .main-photo-neighbor {
    height: 520px;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .main-photo-neighbor {
    height: 500px;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .main-photo-neighbor {
    height: 400px;
  }
}
@media all and (max-width: 440px) {
  .main-photo-neighbor {
    height: 320px;
  }
}

.main-photo-neighbor-animation-left {
  animation-duration: 500ms;
  animation-fill-mode: backwards;
  display: block;
  position: absolute;
}
@media all and (max-width: 1341px) {
  .main-photo-neighbor-animation-left {
    animation-name: mainPhotoNeighborAnimationLeft;
  }
}

@keyframes mainPhotoNeighborAnimationLeft {
  from {
    left: 25%;
    opacity: 1;
  }
  to {
    left: -100%;
    opacity: 0;
  }
}
.main-photo-neighbor-animation-right {
  animation-duration: 500ms;
  animation-fill-mode: backwards;
  display: block;
  position: absolute;
}
@media all and (max-width: 1341px) {
  .main-photo-neighbor-animation-right {
    animation-name: mainPhotoNeighborAnimationRight;
  }
}

@keyframes mainPhotoNeighborAnimationRight {
  from {
    right: 25%;
    opacity: 1;
  }
  to {
    right: -100%;
    opacity: 0;
  }
}/*# sourceMappingURL=Gallery.css.map */