@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import "../../../Mixins/Mixin";
@import "../../../Parameters/Parameters";

.animation-title-box {
    @include position-package(absolute, 184px+8*$FrameHeight, none, 5%, none);
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.7);
    @include dimensions(30%, 100px);
}

.animation-title {
    color: white;
    @include syntaxe-bellefair(38px, normal);
}

.animation {
    @include position-package(absolute, 264px+8*$FrameHeight, none, none, 5%);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.6);
    @include dimensions(60%, 280px);
    @include padding-package(none, none, 3%, 3%);
}

.animation-line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include dimensions(95%, 60px);
    /*border: 1px red solid;*/
}

.animation-date {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    @include syntaxe-bellefair(18px, bold);
    color: black;
    @include dimensions(25%, 60px);
    /*border: 1px green solid;*/
}

.animation-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    @include syntaxe-bellefair(18px, normal);
    color: black;
    @include dimensions(75%, 60px);
    /*border: 1px blue solid;*/
}

/*animation*/

@keyframes animationTitleAppearence{
    from{
        transform: translateX(-1000px);
    }

    to{
        transform: translateX(0px);
    }
}

.animation-title-appearence {
    animation: animationTitleAppearence 1300ms linear;
    animation-delay: 0ms;
    animation-fill-mode: backwards;
}

@keyframes animationTextAppearence{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.animation-text-appearence {
    animation: animationTextAppearence 1300ms linear;
    animation-delay: 0ms;
    animation-fill-mode: backwards;
}