@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
.header {
  position: fixed;
  top: 0px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_dimensions {
  width: 100%;
}
.header_aspect {
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 800ms;
}
.header_aspect:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.menu-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  transition: all 200ms;
}
@media all and (min-width: 992px) {
  .menu-link {
    font-family: "Bellefair", serif;
    font-size: 24px;
    font-weight: normal;
    width: 90%;
    height: none !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .menu-link {
    font-family: "Bellefair", serif;
    font-size: 18px;
    font-weight: normal;
    width: 98%;
    height: none !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .menu-link {
    font-family: "Bellefair", serif;
    font-size: 16px;
    font-weight: normal;
    width: 93%;
    height: none !important;
  }
}
@media all and (max-width: 440px) {
  .menu-link {
    font-family: "Bellefair", serif;
    font-size: 14px;
    font-weight: normal;
    width: 90%;
    height: none !important;
  }
}
.menu-link:hover {
  transform: scale(1.15);
}
.menu-link:hover > .link-underline {
  border-bottom: 2px solid white;
  transform: scaleX(0.75);
}

.menu-link-focused {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  transform: scale(1.15);
}
@media all and (min-width: 992px) {
  .menu-link-focused {
    font-family: "Bellefair", serif;
    font-size: 24px;
    font-weight: normal;
    width: 90%;
    height: none !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .menu-link-focused {
    font-family: "Bellefair", serif;
    font-size: 18px;
    font-weight: normal;
    width: 98%;
    height: none !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .menu-link-focused {
    font-family: "Bellefair", serif;
    font-size: 16px;
    font-weight: normal;
    width: 93%;
    height: none !important;
  }
}
@media all and (max-width: 440px) {
  .menu-link-focused {
    font-family: "Bellefair", serif;
    font-size: 14px;
    font-weight: normal;
    width: 90%;
    height: none !important;
  }
}

.link-underline {
  border-bottom: 2px solid white;
  transform-origin: 50% 50%;
  transform: scaleX(0);
  transition: transform 500ms;
}

.link-underline-focused {
  border-bottom: 2px solid white;
  transform: scaleX(0.75);
}

.navigation {
  display: grid;
  align-items: center;
}
@media all and (min-width: 768px) {
  .navigation {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .navigation {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30%;
    gap: 10%;
  }
}
@media all and (max-width: 440px) {
  .navigation {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 0%;
    gap: 3%;
  }
}
@media all and (min-width: 768px) {
  .navigation_dimensions {
    width: 90%;
    height: none !important;
  }
}
@media all and (max-width: 767px) {
  .navigation_dimensions {
    width: 100%;
    height: none !important;
  }
}

/*animation header*/
@keyframes headerAppearence {
  0% {
    transform: translateY(-150px);
  }
  50% {
    transform: translateY(-70px);
  }
  100% {
    transform: translateY(0px);
  }
}
.header-appearence {
  animation: headerAppearence 800ms linear;
  animation-delay: 700ms;
  animation-fill-mode: backwards;
}

@keyframes headerElementAppearence {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header-element-appearence1 {
  animation: headerElementAppearence 600ms linear;
  animation-delay: 2200ms;
  animation-fill-mode: backwards;
}

.header-element-appearence2 {
  animation: headerElementAppearence 600ms linear;
  animation-delay: 2400ms;
  animation-fill-mode: backwards;
}

.header-element-appearence3 {
  animation: headerElementAppearence 600ms linear;
  animation-delay: 2600ms;
  animation-fill-mode: backwards;
}

.header-element-appearence4 {
  animation: headerElementAppearence 600ms linear;
  animation-delay: 2800ms;
  animation-fill-mode: backwards;
}

.header-element-appearence5 {
  animation: headerElementAppearence 600ms linear;
  animation-delay: 3000ms;
  animation-fill-mode: backwards;
}

.header-element-appearence6 {
  animation: headerElementAppearence 600ms linear;
  animation-delay: 3200ms;
  animation-fill-mode: backwards;
}/*# sourceMappingURL=Header.css.map */