@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
/*@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');*/
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
.header {
  position: fixed;
  top: 0px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_dimensions {
  /*@include dimensions(100%, 147px);*/
  width: 100%;
}
.header_aspect {
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 800ms;
}
.header_aspect:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.menu-link {
  text-decoration: none;
  cursor: pointer;
  color: white;
  transition: all 200ms;
}
@media all and (min-width: 992px) {
  .menu-link {
    font-family: "Bellefair", serif;
    font-size: 24px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .menu-link {
    font-family: "Bellefair", serif;
    font-size: 20px;
    font-weight: normal;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .menu-link {
    font-family: "Bellefair", serif;
    font-size: 16px;
    font-weight: normal;
  }
}
@media all and (max-width: 440px) {
  .menu-link {
    font-family: "Bellefair", serif;
    font-size: 14px;
    font-weight: normal;
  }
}
.menu-link:hover {
  transform: scale(1.15);
}
.menu-link:hover > .link-underline {
  border-bottom: 2px solid white;
  transform: scaleX(1);
}

.link-underline {
  border-bottom: 2px solid white;
  transform-origin: 50% 50%;
  transform: scaleX(0);
  transition: transform 500ms;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation_dimensions {
  width: 90%;
  height: 147px !important;
}

/*animation header*/
@keyframes headerAppearence {
  0% {
    transform: translateY(-150px);
  }
  50% {
    transform: translateY(-70px);
  }
  100% {
    transform: translateY(0px);
  }
}
.header-appearence {
  animation: headerAppearence 800ms linear;
  animation-delay: 700ms;
  animation-fill-mode: backwards;
}

@keyframes headerElementAppearence {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header-element-appearence1 {
  animation: headerElementAppearence 600ms linear;
  animation-delay: 2200ms;
  animation-fill-mode: backwards;
}

.header-element-appearence2 {
  animation: headerElementAppearence 600ms linear;
  animation-delay: 2400ms;
  animation-fill-mode: backwards;
}

.header-element-appearence3 {
  animation: headerElementAppearence 600ms linear;
  animation-delay: 2600ms;
  animation-fill-mode: backwards;
}

.header-element-appearence4 {
  animation: headerElementAppearence 600ms linear;
  animation-delay: 2800ms;
  animation-fill-mode: backwards;
}

.header-element-appearence5 {
  animation: headerElementAppearence 600ms linear;
  animation-delay: 3000ms;
  animation-fill-mode: backwards;
}

.header-element-appearence6 {
  animation: headerElementAppearence 600ms linear;
  animation-delay: 3200ms;
  animation-fill-mode: backwards;
}/*# sourceMappingURL=Header.css.map */