@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import "../../../Mixins/Mixin";
@import "../../../Parameters/Parameters";

.softSkills {
    @include dimensions(100%, $FrameHeight);
}

.introduction {
    @include position-package(fixed, 0px, none, none, none);
}

.softSkillsDisplayed {
    @include position-package(absolute, 3*$FrameHeight, none, none, none);
}

.softSkills-photo-border {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/*animation photo*/

@keyframes photoProfileAppearence{
    0%{
        transform: translateY(700px);
        opacity: 0;
    }

    50%{
        transform: translateY(350px);
        opacity: 1;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.photo-profile-appearence {
    animation: photoProfileAppearence 1300ms linear;
    animation-delay: 0ms;
    animation-fill-mode: backwards;
}

/*animation card title*/

@keyframes cardTitleAppearence{
    from{
        transform: translateX(1000px);
    }

    to{
        transform: translateX(0px);
    }
}

.card-title-appearence {
    animation: cardTitleAppearence 1300ms linear;
    animation-delay: 0ms;
    animation-fill-mode: backwards;
}

/*title intro animation*/

@keyframes letterAppearence{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

$numberOfLetters: 43;
$letterDelay: 40ms;

@for $i from 1 through $numberOfLetters{
  .letter-appearence#{$i}{
      animation: letterAppearence 600ms linear;
      animation-delay: 1300ms + $i*$letterDelay;
      animation-fill-mode: backwards;
  }
}

/* Profil photo */

.photo-border-introduction {
    @include position-package(absolute, 0px, none, 0px, none);
    transition: all 400ms;
    @media all and (min-width: 992px) {
        @include dimensions(50%, $FrameHeight);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(55%, $FrameHeight);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include dimensions(85%, $FrameHeight);
    }
    @media all and (max-width: 440px) {
        @include dimensions(90%, $FrameHeight);
    }
}

.photo-border-softskills {
    transition: all 400ms;
    border-radius: 5px;
    @media all and (min-width: 992px) {
        @include position-package(absolute, 120px, none, 5%, none);
        @include dimensions(35%, 550px);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include position-package(absolute, 120px, none, 2%, none);
        @include dimensions(47%, 550px);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include position-package(absolute, 120px, none, 5%, none);
        @include dimensions(90%, 300px);
    }
    @media all and (max-width: 440px) {
        @include position-package(absolute, 120px, none, 5%, none);
        @include dimensions(90%, 300px);
    }
}

.photo-introduction {
    @media all and (min-width: 992px) {
        @include dimensions(770px, none);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(680px, none);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include dimensions(650px, none);
    }
    @media all and (max-width: 440px) {
        @include dimensions(550px, none);
    }
}

.photo-softskills {
    @media all and (min-width: 992px) {
        @include dimensions(570px, none);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(520px, none);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include dimensions(680px, none);
        @include margin-package(200px, none, none, none);
    }
    @media all and (max-width: 440px) {
        @include dimensions(400px, none);
        @include margin-package(none, none, none, 2%);
    }
}

/* Text soft skills */

.softSkills-text-introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 400ms;
    background-color: rgb(0, 0, 0, 0.6);
    @media all and (min-width: 992px) {
        @include position-package(fixed, 350px, none, none, 5%);
        @include dimensions(50%, 250px);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include position-package(fixed, 400px, none, none, 3%);
        @include dimensions(65%, 180px);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include position-package(fixed, 410px, none, none, 3%);
        @include dimensions(85%, 180px);
    }
    @media all and (max-width: 440px) {
        @include position-package(fixed, 420px, none, none, 2%);
        @include dimensions(90%, 160px);
    }
}

.softSkills-text-displayed {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 400ms;
    background-color: rgb(0, 0, 0, 0.6);
    @media all and (min-width: 992px) {
        @include position-package(absolute, 150px, none, none, 8%);
        @include dimensions(45%, 500px);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include position-package(absolute, 150px, none, none, 2%);
        @include dimensions(45%, 500px);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include position-package(absolute, 450px, none, 5%, none);
        @include dimensions(90%, 250px);
    }
    @media all and (max-width: 440px) {
        @include position-package(absolute, 450px, none, 5%, none);
        @include dimensions(90%, 250px);
    }
}

.page-title{
    gap: 7px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    animation: titleAppearence 400ms linear;
    animation-delay: 0ms;
    animation-fill-mode: backwards;
    @media all and (min-width: 992px) {
        @include dimensions(70%, 200px);
        @include syntaxe-bellefair(44px, normal);
        line-height: 70px;
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(85%, 140px);
        @include syntaxe-bellefair(40px, normal);
        line-height: 20px;
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include dimensions(90%, 140px);
        @include syntaxe-bellefair(32px, normal);
        line-height: 20px;
    }
    @media all and (max-width: 440px) {
        @include dimensions(90%, 120px);
        @include syntaxe-bellefair(28px, normal);
        line-height: 20px;
    }
}

@keyframes titleAppearence{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.softSkills-text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    @media all and (min-width: 992px) {
        @include position-package(absolute, 50px, none, none, none);
        @include dimensions(90%, 400px);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include position-package(absolute, 50px, none, none, none);
        @include dimensions(90%, 400px);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include position-package(absolute, 15px, none, none, none);
        @include dimensions(90%, 220px);
    }
    @media all and (max-width: 440px) {
        @include position-package(absolute, 15px, none, none, none);
        @include dimensions(90%, 220px);
    }
}

.softSkills-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @include dimensions(100%, 800px);
    color: white;
    text-align: justify;
    @media all and (min-width: 992px) {
        @include padding-package(none, none, 10%, 10%);
        @include syntaxe-bellefair(18px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include padding-package(none, none, 10%, 10%);
        @include syntaxe-bellefair(17px, normal);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include padding-package(none, none, 10%, 10%);
        @include syntaxe-bellefair(16px, normal);
    }
    @media all and (max-width: 440px) {
        @include padding-package(none, none, 10%, 10%);
        @include syntaxe-bellefair(15px, normal);
    }
}

.intro-link {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: all 400ms;
    &:hover {
        scale: 1.01;
        color: red;
    }
}