@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
.skills-title-box {
  z-index: 1;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
@media all and (min-width: 992px) {
  .skills-title-box {
    position: absolute;
    top: 2950px !important;
    bottom: none !important;
    left: 5% !important;
    right: none !important;
    width: 30%;
    height: 100px !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .skills-title-box {
    position: absolute;
    top: 2966px !important;
    bottom: none !important;
    left: 4% !important;
    right: none !important;
    width: 35%;
    height: 80px !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .skills-title-box {
    position: absolute;
    top: 2980px !important;
    bottom: none !important;
    left: 3% !important;
    right: none !important;
    width: 40%;
    height: 60px !important;
  }
}
@media all and (max-width: 440px) {
  .skills-title-box {
    position: absolute;
    top: 2990px !important;
    bottom: none !important;
    left: 2% !important;
    right: none !important;
    width: 55%;
    height: 50px !important;
  }
}

.skills-title {
  z-index: 1;
  color: white;
}
@media all and (min-width: 992px) {
  .skills-title {
    font-family: "Bellefair", serif;
    font-size: 38px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .skills-title {
    font-family: "Bellefair", serif;
    font-size: 32px;
    font-weight: normal;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .skills-title {
    font-family: "Bellefair", serif;
    font-size: 26px;
    font-weight: normal;
  }
}
@media all and (max-width: 440px) {
  .skills-title {
    font-family: "Bellefair", serif;
    font-size: 20px;
    font-weight: normal;
  }
}

.skills {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding-top: none !important;
  padding-bottom: none !important;
  padding-left: 3%;
  padding-right: 3%;
}
@media all and (min-width: 992px) {
  .skills {
    position: absolute;
    top: 3030px !important;
    bottom: none !important;
    left: none !important;
    right: 5% !important;
    width: 60%;
    height: 520px !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .skills {
    position: absolute;
    top: 3030px !important;
    bottom: none !important;
    left: none !important;
    right: 4% !important;
    width: 70%;
    height: 520px !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .skills {
    position: absolute;
    top: 3030px !important;
    bottom: none !important;
    left: none !important;
    right: 3% !important;
    width: 75%;
    height: 520px !important;
  }
}
@media all and (max-width: 440px) {
  .skills {
    position: absolute;
    top: 3030px !important;
    bottom: none !important;
    left: none !important;
    right: 2% !important;
    width: 82%;
    height: 520px !important;
  }
}

.skills-lists-group {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 95%;
  height: 260px !important;
  /*border: 1px blue solid;*/
}

.skills-list-title {
  color: black;
  text-align: left;
}
@media all and (min-width: 992px) {
  .skills-list-title {
    font-family: "Bellefair", serif;
    font-size: 24px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .skills-list-title {
    font-family: "Bellefair", serif;
    font-size: 22px;
    font-weight: normal;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .skills-list-title {
    font-family: "Bellefair", serif;
    font-size: 18px;
    font-weight: normal;
  }
}
@media all and (max-width: 440px) {
  .skills-list-title {
    font-family: "Bellefair", serif;
    font-size: 14px;
    font-weight: normal;
  }
}

.skills-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /*border: 1px yellow solid;*/
  width: 50%;
  height: 260px !important;
}

.skills-list-element {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  /*border: 1px green solid;*/
}
@media all and (min-width: 992px) {
  .skills-list-element {
    font-family: "Bellefair", serif;
    font-size: 18px;
    font-weight: normal;
    gap: 20px;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .skills-list-element {
    font-family: "Bellefair", serif;
    font-size: 16px;
    font-weight: normal;
    gap: 15px;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .skills-list-element {
    font-family: "Bellefair", serif;
    font-size: 14px;
    font-weight: normal;
    gap: 10px;
  }
}
@media all and (max-width: 440px) {
  .skills-list-element {
    font-family: "Bellefair", serif;
    font-size: 12px;
    font-weight: normal;
    gap: 5px;
  }
}

.skills-list-element-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 35px;
  height: 35px !important;
  border: 5px;
}

@media all and (min-width: 992px) {
  .logo-html {
    width: 33px;
    height: auto !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-html {
    width: 30px;
    height: auto !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-html {
    width: 28px;
    height: auto !important;
  }
}
@media all and (max-width: 440px) {
  .logo-html {
    width: 25px;
    height: auto !important;
  }
}

@media all and (min-width: 992px) {
  .logo-css {
    width: 23px;
    height: auto !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-css {
    width: 22px;
    height: auto !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-css {
    width: 20px;
    height: auto !important;
  }
}
@media all and (max-width: 440px) {
  .logo-css {
    width: 19px;
    height: auto !important;
  }
}

@media all and (min-width: 992px) {
  .logo-sass {
    width: 28px;
    height: auto !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-sass {
    width: 26px;
    height: auto !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-sass {
    width: 24px;
    height: auto !important;
  }
}
@media all and (max-width: 440px) {
  .logo-sass {
    width: 22px;
    height: auto !important;
  }
}

@media all and (min-width: 992px) {
  .logo-javascript {
    width: 25px;
    height: auto !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-javascript {
    width: 23px;
    height: auto !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-javascript {
    width: 21px;
    height: auto !important;
  }
}
@media all and (max-width: 440px) {
  .logo-javascript {
    width: 19px;
    height: auto !important;
  }
}

@media all and (min-width: 992px) {
  .logo-matlab {
    width: 25px;
    height: auto !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-matlab {
    width: 23px;
    height: auto !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-matlab {
    width: 21px;
    height: auto !important;
  }
}
@media all and (max-width: 440px) {
  .logo-matlab {
    width: 19px;
    height: auto !important;
  }
}

@media all and (min-width: 992px) {
  .logo-react {
    width: 25px;
    height: auto !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-react {
    width: 23px;
    height: auto !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-react {
    width: 21px;
    height: auto !important;
  }
}
@media all and (max-width: 440px) {
  .logo-react {
    width: 19px;
    height: auto !important;
  }
}

@media all and (min-width: 992px) {
  .logo-jest {
    width: 25px;
    height: auto !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-jest {
    width: 23px;
    height: auto !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-jest {
    width: 21px;
    height: auto !important;
  }
}
@media all and (max-width: 440px) {
  .logo-jest {
    width: 19px;
    height: auto !important;
  }
}

@media all and (min-width: 992px) {
  .logo-redux {
    width: 25px;
    height: auto !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-redux {
    width: 23px;
    height: auto !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-redux {
    width: 21px;
    height: auto !important;
  }
}
@media all and (max-width: 440px) {
  .logo-redux {
    width: 19px;
    height: auto !important;
  }
}

@media all and (min-width: 992px) {
  .logo-latex {
    width: 35px;
    height: auto !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-latex {
    width: 30px;
    height: auto !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-latex {
    width: 27px;
    height: auto !important;
  }
}
@media all and (max-width: 440px) {
  .logo-latex {
    width: 25px;
    height: auto !important;
  }
}

@media all and (min-width: 992px) {
  .logo-photoshop {
    width: 25px;
    height: auto !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-photoshop {
    width: 23px;
    height: auto !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-photoshop {
    width: 21px;
    height: auto !important;
  }
}
@media all and (max-width: 440px) {
  .logo-photoshop {
    width: 19px;
    height: auto !important;
  }
}

@media all and (min-width: 992px) {
  .logo-figma {
    width: 25px;
    height: auto !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-figma {
    width: 23px;
    height: auto !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-figma {
    width: 21px;
    height: auto !important;
  }
}
@media all and (max-width: 440px) {
  .logo-figma {
    width: 19px;
    height: auto !important;
  }
}

@media all and (min-width: 992px) {
  .logo-git {
    width: 25px;
    height: auto !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-git {
    width: 23px;
    height: auto !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-git {
    width: 21px;
    height: auto !important;
  }
}
@media all and (max-width: 440px) {
  .logo-git {
    width: 19px;
    height: auto !important;
  }
}

@media all and (min-width: 992px) {
  .logo-anglais {
    width: 30px;
    height: auto !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-anglais {
    width: 28px;
    height: auto !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-anglais {
    width: 24px;
    height: auto !important;
  }
}
@media all and (max-width: 440px) {
  .logo-anglais {
    width: 22px;
    height: auto !important;
  }
}

@media all and (min-width: 992px) {
  .logo-espagnol {
    width: 30px;
    height: auto !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-espagnol {
    width: 28px;
    height: auto !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-espagnol {
    width: 24px;
    height: auto !important;
  }
}
@media all and (max-width: 440px) {
  .logo-espagnol {
    width: 22px;
    height: auto !important;
  }
}

/*animation*/
@keyframes skillsTitleAppearence {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0px);
  }
}
.skills-title-appearence {
  animation: skillsTitleAppearence 1300ms linear;
  animation-delay: 0ms;
  animation-fill-mode: backwards;
}

@keyframes skillsTextAppearence {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.skills-text-appearence {
  animation: skillsTextAppearence 1300ms linear;
  animation-delay: 0ms;
  animation-fill-mode: backwards;
}/*# sourceMappingURL=Skills.css.map */