@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import "../../../Mixins/Mixin";
@import "../../../Parameters/Parameters";

.skills-title-box {
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.7);
    @media all and (min-width: 992px) {
        @include position-package(absolute, 94px+4*$FrameHeight, none, 5%, none);
        @include dimensions(30%, 100px);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include position-package(absolute, 110px+4*$FrameHeight, none, 4%, none);
        @include dimensions(35%, 80px);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include position-package(absolute, 124px+4*$FrameHeight, none, 3%, none);
        @include dimensions(40%, 60px);
    }
    @media all and (max-width: 440px) {
        @include position-package(absolute, 134px+4*$FrameHeight, none, 2%, none);
        @include dimensions(55%, 50px);
    }
}

.skills-title {
    z-index: 1;
    color: white;
    @media all and (min-width: 992px) {
        @include syntaxe-bellefair(38px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-bellefair(32px, normal);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include syntaxe-bellefair(26px, normal);
    }
    @media all and (max-width: 440px) {
        @include syntaxe-bellefair(20px, normal);
    }
}

.skills {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.6);
    @include padding-package(none, none, 3%, 3%);
    @media all and (min-width: 992px) {
        @include position-package(absolute, 174px+4*$FrameHeight, none, none, 5%);
        @include dimensions(60%, 520px);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include position-package(absolute, 174px+4*$FrameHeight, none, none, 4%);
        @include dimensions(70%, 520px);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include position-package(absolute, 174px+4*$FrameHeight, none, none, 3%);
        @include dimensions(75%, 520px);
    }
    @media all and (max-width: 440px) {
        @include position-package(absolute, 174px+4*$FrameHeight, none, none, 2%);
        @include dimensions(82%, 520px);
    }
}

.skills-lists-group {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    @include dimensions(95%, 260px);
    /*border: 1px blue solid;*/
}

.skills-list-title {
    color: black;
    text-align: left;
    @media all and (min-width: 992px) {
        @include syntaxe-bellefair(24px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-bellefair(22px, normal);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include syntaxe-bellefair(18px, normal);
    }
    @media all and (max-width: 440px) {
        @include syntaxe-bellefair(14px, normal);
    }
}

.skills-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /*border: 1px yellow solid;*/
    @include dimensions(50%, 260px);
}

.skills-list-element {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
    /*border: 1px green solid;*/
    @media all and (min-width: 992px) {
        @include syntaxe-bellefair(18px, normal);
        gap: 20px;
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-bellefair(16px, normal);
        gap: 15px;
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include syntaxe-bellefair(14px, normal);
        gap: 10px;
    }
    @media all and (max-width: 440px) {
        @include syntaxe-bellefair(12px, normal);
        gap: 5px;
    }
}

.skills-list-element-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    @include dimensions(35px, 35px);
    border: 5px;
}

.logo-html {
    @media all and (min-width: 992px) {
        @include dimensions(33px, auto);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(30px, auto);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include dimensions(28px, auto);
    }
    @media all and (max-width: 440px) {
        @include dimensions(25px, auto);
    }
}

.logo-css {
    @media all and (min-width: 992px) {
        @include dimensions(23px, auto);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(22px, auto);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include dimensions(20px, auto);
    }
    @media all and (max-width: 440px) {
        @include dimensions(19px, auto);
    }
}

.logo-sass {
    @media all and (min-width: 992px) {
        @include dimensions(28px, auto);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(26px, auto);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include dimensions(24px, auto);
    }
    @media all and (max-width: 440px) {
        @include dimensions(22px, auto);
    }
}

.logo-javascript {
    @media all and (min-width: 992px) {
        @include dimensions(25px, auto);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(23px, auto);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include dimensions(21px, auto);
    }
    @media all and (max-width: 440px) {
        @include dimensions(19px, auto);
    }
}

.logo-matlab {
    @media all and (min-width: 992px) {
        @include dimensions(25px, auto);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(23px, auto);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include dimensions(21px, auto);
    }
    @media all and (max-width: 440px) {
        @include dimensions(19px, auto);
    }
}

.logo-react {
    @media all and (min-width: 992px) {
        @include dimensions(25px, auto);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(23px, auto);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include dimensions(21px, auto);
    }
    @media all and (max-width: 440px) {
        @include dimensions(19px, auto);
    }
}

.logo-jest {
    @media all and (min-width: 992px) {
        @include dimensions(25px, auto);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(23px, auto);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include dimensions(21px, auto);
    }
    @media all and (max-width: 440px) {
        @include dimensions(19px, auto);
    }
}

.logo-redux {
    @media all and (min-width: 992px) {
        @include dimensions(25px, auto);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(23px, auto);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include dimensions(21px, auto);
    }
    @media all and (max-width: 440px) {
        @include dimensions(19px, auto);
    }
}

.logo-latex {
    @media all and (min-width: 992px) {
        @include dimensions(35px, auto);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(30px, auto);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include dimensions(27px, auto);
    }
    @media all and (max-width: 440px) {
        @include dimensions(25px, auto);
    }
}

.logo-photoshop {
    @media all and (min-width: 992px) {
        @include dimensions(25px, auto);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(23px, auto);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include dimensions(21px, auto);
    }
    @media all and (max-width: 440px) {
        @include dimensions(19px, auto);
    }
}

.logo-figma {
    @media all and (min-width: 992px) {
        @include dimensions(25px, auto);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(23px, auto);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include dimensions(21px, auto);
    }
    @media all and (max-width: 440px) {
        @include dimensions(19px, auto);
    }
}

.logo-git {
    @media all and (min-width: 992px) {
        @include dimensions(25px, auto);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(23px, auto);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include dimensions(21px, auto);
    }
    @media all and (max-width: 440px) {
        @include dimensions(19px, auto);
    }
}

.logo-anglais {
    @media all and (min-width: 992px) {
        @include dimensions(30px, auto);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(28px, auto);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include dimensions(24px, auto);
    }
    @media all and (max-width: 440px) {
        @include dimensions(22px, auto);
    }
}

.logo-espagnol {
    @media all and (min-width: 992px) {
        @include dimensions(30px, auto);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(28px, auto);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include dimensions(24px, auto);
    }
    @media all and (max-width: 440px) {
        @include dimensions(22px, auto);
    }
}

/*animation*/

@keyframes skillsTitleAppearence{
    from{
        transform: translateX(-1000px);
    }

    to{
        transform: translateX(0px);
    }
}

.skills-title-appearence {
    animation: skillsTitleAppearence 1300ms linear;
    animation-delay: 0ms;
    animation-fill-mode: backwards;
}

@keyframes skillsTextAppearence{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.skills-text-appearence {
    animation: skillsTextAppearence 1300ms linear;
    animation-delay: 0ms;
    animation-fill-mode: backwards;
}