@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import "../../../Mixins/Mixin";
@import "../../../Parameters/Parameters";

.footer{
    @include position-package(fixed, none, 0px, none, none);
    justify-content: space-around;
    align-items: center;
    @include dimensions(100%, none);
    background-color: black;
    transition: all 200ms;
}

.footer-appearence {
    animation-name: footerAppearence;
    animation-duration: 200ms;
    animation-fill-mode: backwards;
}

@keyframes footerAppearence {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    @include dimensions(220px, none);
    gap: 10px;
    text-decoration: none;
}

.logo-linkedIn{
    @include dimensions(50px, none);
}

.logo-github{
    @include dimensions(50px, none);
    filter: invert(100%);
}

.footer-text{
    color: white;
    @include syntaxe-bellefair(22px, normal);
}