@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
.footer {
  position: fixed;
  top: none !important;
  bottom: 0px !important;
  left: none !important;
  right: none !important;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: none !important;
  background-color: black;
  transition: all 200ms;
  z-index: 2;
}

.footer-appearence {
  animation-name: footerAppearence;
  animation-duration: 200ms;
  animation-fill-mode: backwards;
}

@keyframes footerAppearence {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: none !important;
  gap: 10px;
  text-decoration: none;
  transition: all 200ms;
}
.footer-link:hover {
  transform: scale(1.1);
}

@media all and (min-width: 992px) {
  .logo-linkedIn {
    width: 45px;
    height: none !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-linkedIn {
    width: 40px;
    height: none !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-linkedIn {
    width: 35px;
    height: none !important;
  }
}
@media all and (max-width: 440px) {
  .logo-linkedIn {
    width: 30px;
    height: none !important;
  }
}

.logo-github {
  filter: invert(100%);
}
@media all and (min-width: 992px) {
  .logo-github {
    width: 45px;
    height: none !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-github {
    width: 40px;
    height: none !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-github {
    width: 35px;
    height: none !important;
  }
}
@media all and (max-width: 440px) {
  .logo-github {
    width: 30px;
    height: none !important;
  }
}

@media all and (min-width: 992px) {
  .logo-npm {
    width: 75px;
    height: none !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-npm {
    width: 70px;
    height: none !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-npm {
    width: 55px;
    height: none !important;
  }
}
@media all and (max-width: 440px) {
  .logo-npm {
    width: 45px;
    height: none !important;
  }
}

.footer-text {
  color: white;
}
@media all and (min-width: 992px) {
  .footer-text {
    font-family: "Bellefair", serif;
    font-size: 22px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .footer-text {
    font-family: "Bellefair", serif;
    font-size: 20px;
    font-weight: normal;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .footer-text {
    font-family: "Bellefair", serif;
    font-size: 18px;
    font-weight: normal;
  }
}
@media all and (max-width: 440px) {
  .footer-text {
    font-family: "Bellefair", serif;
    font-size: 16px;
    font-weight: normal;
  }
}/*# sourceMappingURL=Footer.css.map */