@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import "../../../Mixins/Mixin";
@import "../../../Parameters/Parameters";

.footer{
    @include position-package(fixed, none, 0px, none, none);
    justify-content: space-around;
    align-items: center;
    @include dimensions(100%, none);
    background-color: black;
    transition: all 200ms;
    z-index: 2;
}

.footer-appearence {
    animation-name: footerAppearence;
    animation-duration: 200ms;
    animation-fill-mode: backwards;
}

@keyframes footerAppearence {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    @include dimensions(220px, none);
    gap: 10px;
    text-decoration: none;
    transition: all 200ms;
    &:hover {
        transform: scale(1.10);
    }
}

.logo-linkedIn{
    @media all and (min-width: 992px) {
        @include dimensions(45px, none);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(40px, none);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include dimensions(35px, none);
    }
    @media all and (max-width: 440px) {
        @include dimensions(30px, none);
    }
}

.logo-github{
    filter: invert(100%);
    @media all and (min-width: 992px) {
        @include dimensions(45px, none);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(40px, none);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include dimensions(35px, none);
    }
    @media all and (max-width: 440px) {
        @include dimensions(30px, none);
    }
}

.logo-npm{
    @media all and (min-width: 992px) {
        @include dimensions(75px, none);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(70px, none);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include dimensions(55px, none);
    }
    @media all and (max-width: 440px) {
        @include dimensions(45px, none);
    }
}

.footer-text{
    color: white;
    @media all and (min-width: 992px) {
        @include syntaxe-bellefair(22px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-bellefair(20px, normal);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include syntaxe-bellefair(18px, normal);
    }
    @media all and (max-width: 440px) {
        @include syntaxe-bellefair(16px, normal);
    }
}