@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
.projects-title-box {
  z-index: 1;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
@media all and (min-width: 992px) {
  .projects-title-box {
    position: absolute;
    top: 6530px !important;
    bottom: none !important;
    left: 5% !important;
    right: none !important;
    width: 30%;
    height: 100px !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .projects-title-box {
    position: absolute;
    top: 6546px !important;
    bottom: none !important;
    left: 4% !important;
    right: none !important;
    width: 35%;
    height: 80px !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .projects-title-box {
    position: absolute;
    top: 6560px !important;
    bottom: none !important;
    left: 3% !important;
    right: none !important;
    width: 40%;
    height: 60px !important;
  }
}
@media all and (max-width: 440px) {
  .projects-title-box {
    position: absolute;
    top: 6570px !important;
    bottom: none !important;
    left: 2% !important;
    right: none !important;
    width: 55%;
    height: 50px !important;
  }
}

.projects-title {
  color: white;
}
@media all and (min-width: 992px) {
  .projects-title {
    font-family: "Bellefair", serif;
    font-size: 38px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .projects-title {
    font-family: "Bellefair", serif;
    font-size: 32px;
    font-weight: normal;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .projects-title {
    font-family: "Bellefair", serif;
    font-size: 26px;
    font-weight: normal;
  }
}
@media all and (max-width: 440px) {
  .projects-title {
    font-family: "Bellefair", serif;
    font-size: 20px;
    font-weight: normal;
  }
}

.projects {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding-top: none !important;
  padding-bottom: none !important;
  padding-left: 1%;
  padding-right: 1%;
}
@media all and (min-width: 992px) {
  .projects {
    position: absolute;
    top: 6610px !important;
    bottom: none !important;
    left: none !important;
    right: 5% !important;
    width: 85%;
    height: 490px !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .projects {
    position: absolute;
    top: 6610px !important;
    bottom: none !important;
    left: none !important;
    right: 4% !important;
    width: 80%;
    height: 490px !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .projects {
    position: absolute;
    top: 6610px !important;
    bottom: none !important;
    left: none !important;
    right: 3% !important;
    width: 90%;
    height: 490px !important;
  }
}
@media all and (max-width: 440px) {
  .projects {
    position: absolute;
    top: 6610px !important;
    bottom: none !important;
    left: none !important;
    right: 1% !important;
    width: 90%;
    height: 490px !important;
  }
}

.projects-list1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media all and (min-width: 992px) {
  .projects-list1 {
    margin-top: none !important;
    margin-bottom: none !important;
    margin-left: 5%;
    margin-right: none;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .projects-list1 {
    margin-top: none !important;
    margin-bottom: none !important;
    margin-left: 3%;
    margin-right: none;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .projects-list1 {
    margin-top: none !important;
    margin-bottom: none !important;
    margin-left: 1%;
    margin-right: none;
  }
}
@media all and (max-width: 440px) {
  .projects-list1 {
    margin-top: none !important;
    margin-bottom: none !important;
    margin-left: 0%;
    margin-right: none;
  }
}

.projects-list2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: none !important;
}

.projects-list1-title {
  color: black;
}
@media all and (min-width: 992px) {
  .projects-list1-title {
    font-family: "Bellefair", serif;
    font-size: 24px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .projects-list1-title {
    font-family: "Bellefair", serif;
    font-size: 22px;
    font-weight: normal;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .projects-list1-title {
    font-family: "Bellefair", serif;
    font-size: 20px;
    font-weight: normal;
  }
}
@media all and (max-width: 440px) {
  .projects-list1-title {
    font-family: "Bellefair", serif;
    font-size: 17px;
    font-weight: normal;
  }
}

.projects-list2-title {
  color: black;
}
@media all and (min-width: 992px) {
  .projects-list2-title {
    font-family: "Bellefair", serif;
    font-size: 24px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .projects-list2-title {
    font-family: "Bellefair", serif;
    font-size: 22px;
    font-weight: normal;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .projects-list2-title {
    font-family: "Bellefair", serif;
    font-size: 20px;
    font-weight: normal;
  }
}
@media all and (max-width: 440px) {
  .projects-list2-title {
    font-family: "Bellefair", serif;
    font-size: 17px;
    font-weight: normal;
  }
}

.subnavigation1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media all and (min-width: 992px) {
  .subnavigation1 {
    -moz-column-gap: 1%;
         column-gap: 1%;
    row-gap: 10px;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .subnavigation1 {
    -moz-column-gap: 0%;
         column-gap: 0%;
    row-gap: 2px;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .subnavigation1 {
    -moz-column-gap: 0%;
         column-gap: 0%;
    row-gap: 0px;
  }
}
@media all and (max-width: 440px) {
  .subnavigation1 {
    -moz-column-gap: 1%;
         column-gap: 1%;
    row-gap: 2px;
  }
}

.subnavigation2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: none !important;
  margin-bottom: none !important;
  margin-left: 10%;
  margin-right: none;
  width: 100%;
  height: none !important;
}
@media all and (min-width: 992px) {
  .subnavigation2 {
    -moz-column-gap: 5%;
         column-gap: 5%;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .subnavigation2 {
    -moz-column-gap: 2%;
         column-gap: 2%;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .subnavigation2 {
    -moz-column-gap: 1%;
         column-gap: 1%;
  }
}
@media all and (max-width: 440px) {
  .subnavigation2 {
    -moz-column-gap: 0%;
         column-gap: 0%;
  }
}

.submenu-link1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
@media all and (min-width: 992px) {
  .submenu-link1 {
    width: 150px;
    height: 80px !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .submenu-link1 {
    width: 110px;
    height: 70px !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .submenu-link1 {
    width: 80px;
    height: 65px !important;
  }
}
@media all and (max-width: 440px) {
  .submenu-link1 {
    width: 60px;
    height: 60px !important;
  }
}

.submenu-link2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
@media all and (min-width: 992px) {
  .submenu-link2 {
    width: 150px;
    height: 150px !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .submenu-link2 {
    width: 110px;
    height: 110px !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .submenu-link2 {
    width: 80px;
    height: 80px !important;
  }
}
@media all and (max-width: 440px) {
  .submenu-link2 {
    width: 60px;
    height: 60px !important;
  }
}

.submenu-link2-logo-website {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  line-height: 2px;
}
@media all and (min-width: 992px) {
  .submenu-link2-logo-website {
    width: 150px;
    height: auto !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .submenu-link2-logo-website {
    width: 110px;
    height: auto !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .submenu-link2-logo-website {
    width: 90px;
    height: auto !important;
  }
}
@media all and (max-width: 440px) {
  .submenu-link2-logo-website {
    width: 80px;
    height: auto !important;
  }
}

@media all and (min-width: 992px) {
  .logo-booki {
    width: 70px;
    height: none !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-booki {
    width: 55px;
    height: none !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-booki {
    width: 40px;
    height: none !important;
  }
}
@media all and (max-width: 440px) {
  .logo-booki {
    width: 35px;
    height: none !important;
  }
}

@media all and (min-width: 992px) {
  .logo-ohmyfood {
    width: 110px;
    height: none !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-ohmyfood {
    width: 95px;
    height: none !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-ohmyfood {
    width: 65px;
    height: none !important;
  }
}
@media all and (max-width: 440px) {
  .logo-ohmyfood {
    width: 60px;
    height: none !important;
  }
}

@media all and (min-width: 992px) {
  .logo-gameon {
    width: 100px;
    height: none !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-gameon {
    width: 85px;
    height: none !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-gameon {
    width: 60px;
    height: none !important;
  }
}
@media all and (max-width: 440px) {
  .logo-gameon {
    width: 55px;
    height: none !important;
  }
}

@media all and (min-width: 992px) {
  .logo-fisheye {
    width: 90px;
    height: none !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-fisheye {
    width: 80px;
    height: none !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-fisheye {
    width: 60px;
    height: none !important;
  }
}
@media all and (max-width: 440px) {
  .logo-fisheye {
    width: 50px;
    height: none !important;
  }
}

@media all and (min-width: 992px) {
  .logo-les-petits-plats {
    width: 120px;
    height: none !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-les-petits-plats {
    width: 110px;
    height: none !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-les-petits-plats {
    width: 75px;
    height: none !important;
  }
}
@media all and (max-width: 440px) {
  .logo-les-petits-plats {
    width: 65px;
    height: none !important;
  }
}

@media all and (min-width: 992px) {
  .logo-kasa {
    width: 80px;
    height: none !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-kasa {
    width: 70px;
    height: none !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-kasa {
    width: 50px;
    height: none !important;
  }
}
@media all and (max-width: 440px) {
  .logo-kasa {
    width: 40px;
    height: none !important;
  }
}

@media all and (min-width: 992px) {
  .logo-sportsee {
    width: 120px;
    height: none !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-sportsee {
    width: 105px;
    height: none !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-sportsee {
    width: 80px;
    height: none !important;
  }
}
@media all and (max-width: 440px) {
  .logo-sportsee {
    width: 60px;
    height: none !important;
  }
}

@media all and (min-width: 992px) {
  .logo-argentbank {
    width: 130px;
    height: none !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-argentbank {
    width: 120px;
    height: none !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-argentbank {
    width: 80px;
    height: none !important;
  }
}
@media all and (max-width: 440px) {
  .logo-argentbank {
    width: 60px;
    height: none !important;
  }
}

@media all and (min-width: 992px) {
  .logo-hrnet {
    width: 70px;
    height: none !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-hrnet {
    width: 60px;
    height: none !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-hrnet {
    width: 50px;
    height: none !important;
  }
}
@media all and (max-width: 440px) {
  .logo-hrnet {
    width: 40px;
    height: none !important;
  }
}

.border-logo-website {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}
@media all and (min-width: 992px) {
  .border-logo-website {
    width: 80px;
    height: 80px !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .border-logo-website {
    width: 70px;
    height: 70px !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .border-logo-website {
    width: 60px;
    height: 60px !important;
  }
}
@media all and (max-width: 440px) {
  .border-logo-website {
    width: 50px;
    height: 50px !important;
  }
}

.logo-page-web-title {
  color: #141929;
}
@media all and (min-width: 992px) {
  .logo-page-web-title {
    font-family: "Bellefair", serif;
    font-size: 18px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-page-web-title {
    font-family: "Bellefair", serif;
    font-size: 17px;
    font-weight: normal;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-page-web-title {
    font-family: "Bellefair", serif;
    font-size: 16px;
    font-weight: normal;
  }
}
@media all and (max-width: 440px) {
  .logo-page-web-title {
    font-family: "Bellefair", serif;
    font-size: 15px;
    font-weight: normal;
  }
}

@media all and (min-width: 992px) {
  .logo-page-web {
    width: 140px;
    height: none !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-page-web {
    width: 120px;
    height: none !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-page-web {
    width: 80px;
    height: none !important;
  }
}
@media all and (max-width: 440px) {
  .logo-page-web {
    width: 70px;
    height: none !important;
  }
}

@media all and (min-width: 992px) {
  .logo-ghibli {
    width: 130px;
    height: none !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-ghibli {
    width: 115px;
    height: none !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-ghibli {
    width: 90px;
    height: none !important;
  }
}
@media all and (max-width: 440px) {
  .logo-ghibli {
    width: 80px;
    height: none !important;
  }
}

@media all and (min-width: 992px) {
  .logo-leo-paul-berthaut {
    width: 60px;
    height: none !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-leo-paul-berthaut {
    width: 50px;
    height: none !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .logo-leo-paul-berthaut {
    width: 40px;
    height: none !important;
  }
}
@media all and (max-width: 440px) {
  .logo-leo-paul-berthaut {
    width: 30px;
    height: none !important;
  }
}

/*animation*/
@keyframes projectsTitleAppearence {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0px);
  }
}
.projects-title-appearence {
  animation: projectsTitleAppearence 1300ms linear;
  animation-delay: 0ms;
  animation-fill-mode: backwards;
}

@keyframes projectsTextAppearence {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.projects-text-appearence {
  animation: projectsTextAppearence 1300ms linear;
  animation-delay: 0ms;
  animation-fill-mode: backwards;
}/*# sourceMappingURL=Projects.css.map */