@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
.background-title-box {
  z-index: 1;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
@media all and (min-width: 992px) {
  .background-title-box {
    position: absolute;
    top: 4378px !important;
    bottom: none !important;
    left: 5% !important;
    right: none !important;
    width: 30%;
    height: 100px !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .background-title-box {
    position: absolute;
    top: 4394px !important;
    bottom: none !important;
    left: 4% !important;
    right: none !important;
    width: 35%;
    height: 80px !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .background-title-box {
    position: absolute;
    top: 4408px !important;
    bottom: none !important;
    left: 3% !important;
    right: none !important;
    width: 40%;
    height: 60px !important;
  }
}
@media all and (max-width: 440px) {
  .background-title-box {
    position: absolute;
    top: 4418px !important;
    bottom: none !important;
    left: 2% !important;
    right: none !important;
    width: 55%;
    height: 50px !important;
  }
}

.background-title {
  color: white;
}
@media all and (min-width: 992px) {
  .background-title {
    font-family: "Bellefair", serif;
    font-size: 38px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .background-title {
    font-family: "Bellefair", serif;
    font-size: 32px;
    font-weight: normal;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .background-title {
    font-family: "Bellefair", serif;
    font-size: 26px;
    font-weight: normal;
  }
}
@media all and (max-width: 440px) {
  .background-title {
    font-family: "Bellefair", serif;
    font-size: 20px;
    font-weight: normal;
  }
}

.background {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding-top: none !important;
  padding-bottom: none !important;
  padding-left: 3%;
  padding-right: 3%;
}
@media all and (min-width: 992px) {
  .background {
    position: absolute;
    top: 4458px !important;
    bottom: none !important;
    left: none !important;
    right: 5% !important;
    width: 60%;
    height: 520px !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .background {
    position: absolute;
    top: 4458px !important;
    bottom: none !important;
    left: none !important;
    right: 4% !important;
    width: 70%;
    height: 520px !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .background {
    position: absolute;
    top: 4458px !important;
    bottom: none !important;
    left: none !important;
    right: 3% !important;
    width: 75%;
    height: 520px !important;
  }
}
@media all and (max-width: 440px) {
  .background {
    position: absolute;
    top: 4458px !important;
    bottom: none !important;
    left: none !important;
    right: 2% !important;
    width: 82%;
    height: 520px !important;
  }
}

.background-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media all and (min-width: 992px) {
  .background-line {
    width: 95%;
    height: 60px !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .background-line {
    width: 99%;
    height: 60px !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .background-line {
    width: 99%;
    height: 60px !important;
  }
}
@media all and (max-width: 440px) {
  .background-line {
    width: 99%;
    height: 60px !important;
  }
}

.background-date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  color: black;
  width: 25%;
  height: 60px !important;
}
@media all and (min-width: 992px) {
  .background-date {
    font-family: "Bellefair", serif;
    font-size: 18px;
    font-weight: bold;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .background-date {
    font-family: "Bellefair", serif;
    font-size: 16px;
    font-weight: bold;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .background-date {
    font-family: "Bellefair", serif;
    font-size: 14px;
    font-weight: bold;
  }
}
@media all and (max-width: 440px) {
  .background-date {
    font-family: "Bellefair", serif;
    font-size: 12px;
    font-weight: bold;
  }
}

.background-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  color: black;
}
@media all and (min-width: 992px) {
  .background-content {
    font-family: "Bellefair", serif;
    font-size: 18px;
    font-weight: normal;
    width: 75%;
    height: 60px !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .background-content {
    font-family: "Bellefair", serif;
    font-size: 16px;
    font-weight: normal;
    width: 70%;
    height: 60px !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .background-content {
    font-family: "Bellefair", serif;
    font-size: 14px;
    font-weight: normal;
    width: 60%;
    height: 60px !important;
  }
}
@media all and (max-width: 440px) {
  .background-content {
    font-family: "Bellefair", serif;
    font-size: 12px;
    font-weight: normal;
    width: 50%;
    height: 60px !important;
  }
}

/*animation*/
@keyframes backgroundTitleAppearence {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0px);
  }
}
.background-title-appearence {
  animation: backgroundTitleAppearence 1300ms linear;
  animation-delay: 0ms;
  animation-fill-mode: backwards;
}

@keyframes backgroundTextAppearence {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.background-text-appearence {
  animation: backgroundTextAppearence 1300ms linear;
  animation-delay: 0ms;
  animation-fill-mode: backwards;
}/*# sourceMappingURL=Background.css.map */